@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Rubik:wght@500;600&family=Space+Grotesk:wght@500;600&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background: #111111;
}

.gradient {
  --size: 550px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(
    hsla(158, 82%, 57%, 0.082),
    hsla(252, 97%, 59%, 0.644)
  );
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.web3-gradient {
  background: linear-gradient(135deg,rgb(153, 125, 255) 9.15%, rgb(128, 255, 234) 86.26%, rgb(128, 236, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}


nav {
  position: sticky;
}

.tessera-header {
  font-family: 'Space Grotesk', sans-serif;
}

.qr-code {
  display: flex;
  justify-content: center;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
